.tech {
    width: 50%;
}

.developer {
    width: 50%;
}

.techHeader {
    font-weight: bolder;
    width: 50%;
}

.developerHeader {
    font-weight: bolder;
    width: 50%;
}

.row {
    display: flex;
    padding: 5px 0;
}

.rowHeader {
    display: flex;
    padding: 5px;
    background-color: #c4c4c4;
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    backdrop-filter: blur(3px);
    display: flex;
}

.row:not(:last-child) {
    border-bottom: 1px solid #c4c4c4;
}

.progressBar {
    position: absolute;
    display: flex;
}
